@model List<GetProductDTO>

@{
    ViewBag.Title = "Auction Home";
}


<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h2>Products</h2>
                    </header>
                    <div class="row">


                        @foreach (var product in Model)
                        {
                            <div class="col-4 col-6-medium col-12-small">
                                <section class="box">
                                    <a class="image featured" href="@Url.Action("GetById", "Product", new { id = product.Id })">
                                        @if (product.ImagePath != string.Empty)
                                        {
                                            <img src="@product.ImagePath" alt="card image" />
                                        }
                                        else if (product.ImagePath == string.Empty)
                                        {
                                            <img src="/image/nophoto.jpg" alt="card image" />
                                        }

                                    </a>

                                    <header>
                                        <h3>@product.ProductName</h3>
                                    </header>
                                    <p>@product.Description</p>
                                    <footer>
                                        <ul class="actions">
                                            <li><a href="@Url.Action("GetById", "Product", new { id = product.Id })" class="button alt">More</a></li>
                                        </ul>
                                    </footer>
                                </section>
                            </div>
                        }

                    </div>
                </section>

            </div>
           
        </div>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        ClassicEditor.create(document.querySelector('#content2'));
    });
</script>