@model List<GetProductAuctionDTO>

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-8 col-12-medium">
				@foreach (var auction in Model)
				{
					<!-- Content -->
					<article class="box post">
						<a class="image featured" href="@Url.Action("GetByIdUser", "ProductAuction", new { id = auction.Id })">
							@if (auction.Product.ImagePath != string.Empty)
							{
								<img src="@auction.Product.ImagePath" alt="card image" />
							}
							else if (auction.Product.ImagePath == string.Empty)
							{
								<img src="/media/nophoto.jpg" alt="card image" />
							}
						</a>
						<header>
							<p>Лот номер: @auction.Id</p>
							<h2>@auction.Title</h2>
							<p>Старт торгов: @auction.StartTime</p>
							<p>Конец торгов: @auction.EndTime</p>
							<h3>Стартовая цена: @auction.StartingPrice</h3>
							<p>
								Описание: @auction.Description
							</p>
						</header>
						<footer>
							<a href="@Url.Action("GetByIdUser", "ProductAuction", new { id = auction.Id })" class="button alt">Подробнее</a>
						</footer>
					</article>

				}

			</div>
			<div class="col-4 col-12-medium">


				<section class="box">
					<header>
						<h3>Опции</h3>
					</header>
					<ul class="divided">
						<li><a href="@Url.Action("Create", "ProductAuction")">Выставить лот</a></li>
					</ul>
					
				</section>

			</div>
		</div>
	</div>
</section>